


<div class="col-sm-10 room-header-color">
    <div class="row  char-header-color"><p class="ml-4 mt-2">Messages</p></div>
    <div class="row m-2 chat_color">
        <ul>
            <li><h2>Instructions :</h2></li>
            <li><p>1. Select one of the chat rooms from the right side, or create a new one.</p></li>
            <li><p>2. Type your nickname and click Ok button.</p></li>
            <li><p>3. Click join button to join the chat.</p></li>
            <li><p>4. Type your message and click send button to send your message.</p></li>
            <li><b>NOTE : </b>Please run a redis image using docker on PORT : 5002 to use cahching</li>
            <li><code>docker run --name chatapp -p 5002:6379 -d redis</code></li>
        </ul>


    </div>
   
</div>
